


.footer-wrapper {
    width: 100vw;
    background-image:url( "https://github.com/eren5515/asd/blob/main/footer-bg.png?raw=true");
    background-color: #0f051d; 
    background-size:contain;
    background-position-x:center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
padding-top: 10rem;
padding-bottom: 9rem;
}


.footer-text-div {
    display: flex;
    gap: 2rem;

    h2 {
        font-size: 1.2rem;
    }
    h2:hover {
        background-clip: text;
      color: transparent;
      background: -webkit-linear-gradient(25deg, #2600fc, #ff00ea);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }
}

.footer-icons {
    display: flex;
    gap: 2rem;
}
