


.footer-wrapper {
    width: 100vw;
    background-image:url( "https://cdn.discordapp.com/attachments/336171716126572548/1201126771198791710/footer-bg.png?ex=65c8af7a&is=65b63a7a&hm=83e052aa483aecc0227c364947bc625a8d41748498ed077a7b2329a981b25888&");
    background-color: #0f051d; 
    background-size:contain;
    background-position-x:center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
padding-top: 10rem;
padding-bottom: 9rem;
}


.footer-text-div {
    display: flex;
    gap: 2rem;

    h2 {
        font-size: 1.2rem;
    }
    h2:hover {
        background-clip: text;
      color: transparent;
      background: -webkit-linear-gradient(25deg, #2600fc, #ff00ea);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }
}

.footer-icons {
    display: flex;
    gap: 2rem;
}
